@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 240, 48%, 99%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 218, 41%, 5%;
    --foreground: 210 40% 98%;
 
    --card: 220, 41%, 9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}


@layer components {
  .editor-btn {
    @apply flex justify-center items-center text-slate-700 rounded-lg w-8 aspect-square;
  }

  .active-editor-btn {
    @apply text-slate-800 bg-slate-200;
  }

  .addButton {
    @apply relative flex justify-center items-end text-xl rounded-full p-1 border-purple-500
  }

  .catButton {
    @apply px-4 py-2 border-[1.5px] bg-card text-lg font-medium shadow-2xl rounded-lg hover:scale-110 transition duration-300 
  }
  .navUnderlineHover {
   @apply bg-gradient-to-r from-purple-600 to-blue-600 bg-[length:0px_3px] hover:bg-[length:100%_3px] bg-bottom bg-no-repeat transition-[background-size] duration-300 mt-1
  }
  .bgCategory {
    @apply bg-gradient-to-tr from-purple-600/70 to-blue-600/70 capitalize rounded-sm text-white tracking-widest
  }

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.container {
  min-height: 100vh;
}

.wrapper {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;

}

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1480px;
  }
}
@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
   
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 700px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper{
    max-width: 100%;
padding: 0;
  }
}

ol{
  list-style: auto;
}
 ul {
  list-style: circle;
}

ol,ul{
  padding-left: 20px;
}
ol,ul > li{
  margin-bottom: 10px;
}

pre {
  border-radius: 0.5rem;
  margin: 10px 0;
  width: 100%;
}


.customBlogDesc > blockquote {
  border-radius: 0.5rem ;
  padding: 28px 20px;
  border-left: #5850EC solid 5px;
  background-image: linear-gradient(145deg, rgba(168, 85, 247, 0.68), rgba(88, 80, 236, 0.68));
  color: #fff;
}
.customBlogDesc > blockquote > p > span > strong {
  color: #fff;
}
.customBlogDesc > h2 {
  font-size: 46px;
  font-weight: 600;
  line-height: normal;
}
.customBlogDesc > img {
  border-radius: 0.5rem;
  display: block; 
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 20px;
  object-fit: cover;
  border: 1px solid;
}

iframe {
  border-radius: 0.5rem;
  width: 90%;
  height: 60vh;
  display: block; 
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 20px;
}

div[data-youtube-video] > iframe {
    cursor: move;
    aspect-ratio: 16 / 9;
    width: 100%;
  }

.ProseMirror-selectednode iframe {
    transition: outline 0.15s;
    outline: 2px solid #7c3aed;
  }


@media screen and (max-width: 1536px) {
  .customBlogDesc > h2 {
    font-size: 46px;
  }
  .customBlogDesc > h3 {
    font-size: 28px;
  }
}

@media screen and (max-width: 1280px) {
  .customBlogDesc > h2 {
    font-size: 36px;
  }
  .customBlogDesc > h3 {
    font-size: 24px;
  }
}

@media screen and (max-width: 640px) {
  .customBlogDesc > h2 {
    font-size: 28px;
  }
  .customBlogDesc > h3 {
    font-size: 20px;
  }
   .customBlogDesc > p {
    font-size: 14px;
  }

  pre {
    overflow: auto;
    width: 100%;
  }
  pre > code {
   font-size: 12px;
  }

}

.loader {
  width: 40px;
  height: 80px;
  --c: no-repeat radial-gradient(farthest-side, #7c3aed 93%, #0000);
  background:
    var(--c) 0    0,
    var(--c) 50%  0;
  background-size: 8px 8px;
  position: relative;
  clip-path: inset(-200% -100% 0 0);
  animation: l6-0 1.5s linear infinite;
}
.loader:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  background: #7c3aed;
  left: -16px;
  top: 0;
  animation: 
    l6-1 1.5s linear infinite,
    l6-2 0.5s cubic-bezier(0,200,.8,200) infinite;
}
.loader:after {
  content: "";
  position: absolute;
  inset: 0 0 auto auto;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #1e88e5; /* blue-600 */
  animation: l6-3 1.5s linear infinite;
}
@keyframes l6-0 {
  0%,30%  {background-position: 0  0   ,50% 0   }
  33%     {background-position: 0  100%,50% 0   }
  41%,63% {background-position: 0  0   ,50% 0   }
  66%     {background-position: 0  0   ,50% 100%}
  74%,100%{background-position: 0  0   ,50% 0   }
}
@keyframes l6-1 {
  90%  {transform:translateY(0)}
  95%  {transform:translateY(15px)}
  100% {transform:translateY(15px);left:calc(100% - 8px)}
}
@keyframes l6-2 {
  100% {top:-0.1px}
}
@keyframes l6-3 {
  0%,80%,100% {transform:translate(0)}
  90%         {transform:translate(26px)}
}
